* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Londrina Solid', cursive;
}

body {
  background-color: lightcoral;
}

.container {
  width: 90%;
  height: 100vh;
  margin: auto;
  /* background-color: yellow; */
  display: flex;
  flex-direction: column;
  padding: 20px;

}


/* HEADER------------------------------------- */

header {
  height: 150px;
  margin-top: 10px;
  /* background-color: red; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.title {
  flex-wrap: wrap;
  /* background-color: green; */
  width: 100%;
  font-size: 50px;
  color: #6c899a;
  /* -webkit-text-stroke: 2px black; */
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.logo img {
  height: 120px;
  vertical-align: middle;
  -webkit-filter: drop-shadow(1px 2px 0 black)
                  drop-shadow(-1px -2px 0 black);
  filter: drop-shadow(1px 2px 0 black)
          drop-shadow(-1px -2px 0 black);
}

/* / HEADER --------------------------------------- */

/* input TODO CONTAINER --------------------- */

.add_todo {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.add_todo input {
  /* background-color: red; */
  width: 250px;
  font-size: 20px;
  border-radius: 5px;
  border: 2px solid black;
  /* color: #6c899a; */
}

.add_todo button {
  /* background-color: yellow; */
  width: 70px;
  margin-left: 30px;
  font-size: 20px;
  border-radius: 5px;
  border: 2px solid black;
  /* color: #6c899a; */
  cursor: pointer;
}


button.all_to_trash {
  width: 150px;
}



/* / input TODO CONTAINER ----------------------- */

/* TODO LIST CONTAINER ------------------------------- */

.todo_list {
  width: 90%;
  margin: auto;
  background-color: rgba(217, 217, 217, 0.37);
  border-radius: 5px;
  border: 2px solid black;
  overflow-y: auto;
  min-height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo_list ul {
  width: 90%;
  margin: auto;
  /* background-color: green; */
}


.todo_list ul li {
  flex-wrap: wrap;
  list-style: none;
  border-bottom: 2px solid #6c899a;
  margin: 10px 10px;
  padding: 0px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.todo_list ul li:hover {
  background-color: rgba(231, 231, 231, 0.37);
  transform: scale(1.01);
}

.todo_list ul li span {
  flex-wrap: wrap;
  width: 90%;
}



/* / TODO LIST CONTAINER ----------------------------------- */

/* DELETED TODO LIST CONTAINER */

.deleted_todo {
  margin-top: 20px;
  min-height: 250px;
}

.deleted_todo h2 {
  margin-bottom: 15px;
}

.delete_all i {
  cursor: pointer;
}

.deleted_todo_list {
  width: 90%;
  min-height: 50px;
  max-height: 220px;
  margin: auto;
  background-color: rgba(217, 217, 217, 0.37);
  border-radius: 5px;
  border: 2px solid black;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.deleted_todo_list h2 {
  margin-top: 15px;
}

.deleted_todo_list ul {
  width: 90%;
  margin: auto;
  /* background-color: green; */
}

.deleted_todo_list ul li {
  flex-wrap: wrap;
  list-style: none;
  border-bottom: 2px solid #6c899a;
  margin: 10px 10px;
  padding: 0px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;

}

.deleted_todo_list ul li:hover {
  background-color: rgba(231, 231, 231, 0.37);
  transform: scale(1.01);
}

.deleted_todo_list ul li span {
  flex-wrap: wrap;
  width: 90%;
}

/* / DELETED TODO LIST CONTAINER */







/* fontawesome */

/* cestino */
/* <i class="far fa-trash-alt"></i> */

/* cancella */
/* <i class="far fa-times-circle"></i> */

/* riusa */
/* <i class="fas fa-recycle"></i> */
