* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Londrina Solid', cursive;
}

body {
  background-color: lightcoral;
}

.container {
  width: 90%;
  height: 100vh;
  margin: auto;
  /* background-color: yellow; */
}

header {
  height: 150px;
  margin-top: 10px;
  /* background-color: red; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.title {
  flex-wrap: wrap;
  /* background-color: green; */
  width: 100%;
  font-size: 100px;
  color: #6c899a;
  /* -webkit-text-stroke: 2px black; */
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.logo img {
  height: 120px;
  vertical-align: middle;
  -webkit-filter: drop-shadow(1px 1px 0 black)
                  drop-shadow(-1px -1px 0 black);
  filter: drop-shadow(1px 1px 0 black)
          drop-shadow(-1px -1px 0 black);
}
