<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>simil es todolist</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <!-- link google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@300;400&display=swap" rel="stylesheet">
    <!-- Link Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <!-- link jquery -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <!-- Link foglio di stile personale -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
</head>
<body>


  <div id="app" class="container">
    <header>
      <div class="logo">
        <img src="img/logo.png" alt="logo">
      </div>
      <div class="title">
        <h1>Segna le cose da fare</h1>
      </div>
    </header>
    <!-- fine header -->

    <!-- contenitore input todo -->
    <div class="add_todo">
      <input type="text" v-model="newTodo" placeholder="Aggiungi ToDo">
      <button @click='addTodo' type="button" name="button">Aggiungi</button>
      <button @click='deleteList' type="button" name="button" class="all_to_trash">Sposta la lista nel cestino</button>
    </div>
    <!-- / contenitore input todo -->

    <!-- to do list container -->
    <div class="todo_list">
      <!-- usiamo un v-for per creare la lista dall'array todolist dell'app vue, inoltre dobbiamo inserire l'indice, che ci sarà utile per eliminare la singola todo. nel caso in cui non ci siano elementi, con v-if/v-else facciamo apparire una scritta esplicativa -->
      <ul v-if='todoList.length > 0'>
        <!-- esempio elemento della lista -->
        <!-- <li>
          <span>fare la spesa</span>
          <i class="far fa-times-circle"></i>
        </li> -->
        <li v-for='(todo, todoIndex) in todoList'><span>{{todoIndex + ' ' + todo}}</span>
        <i class="fas fa-exchange-alt"></i>
        <i class="far fa-times-circle" @click='deleteTodo(todoIndex)'></i></li>

      </ul>
      <h2 v-else>Non ci sono elementi nella lista</h2>
    </div>
    <!-- / todo list container -->

    <!-- deleted todo container -->
    <div class="deleted_todo">
      <!-- contenitore titolo con elimina tutto -->
      <div class="delete_all">
        <h2>Lista elementi eliminati <i @click='deleteTrash' class="far fa-trash-alt"></i><i @click='reuseAllDeleted' class="fas fa-recycle"></i></h2>
      </div>

      <!-- lista todo eliminate temporaneamente -->
      <div class="deleted_todo_list">
        <ul v-if='deletedList.length > 0'>
          <!-- esempio elemento lista eliminata -->
          <!-- <li>
            <span>fare la spesa</span>
            <i class="far fa-times-circle"></i><i class="fas fa-recycle"></i>
          </li> -->

          <li v-for='(deleted, deletedIndex) in deletedList'><span>{{deletedIndex + ' ' + deleted}}</span>
          <i class="far fa-times-circle" @click='deleteForver(deletedIndex)'></i><i class="fas fa-recycle" @click='moveToList(deletedIndex)'></i></li>
        </ul>
        <h2 v-else>Il cestino è vuoto</h2>
      </div>

    </div>
    <!-- / deleted todo container -->


  </div>
  <!-- fine contenitore principale -->



  <!-- Link Script Javascript -->
  <script src="js/script.js" charset="utf-8"></script>
</body>
</html>
